* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(image.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    background-size: cover;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 116px;
    position:relative;
    z-index:10;
}
nav button{
    position:relative;
    z-index:10;
}

