* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(image.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    background-size: cover;
}
body{
    background-color: black;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    color: red;
    width: 116px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {

    font-family: 'Martel Sans', sans-serif;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
}

.hero :first-child {
    font-weight: bolder;
    font-size: 48px;

}

.hero :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}